@{
    ViewBag.Title = "Calculator";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculator</title>
    <style>
        body {
            background-color: #020202;
            color: #FFFFFF;
            text-align: center;
        }

        .calculator {
            display: inline-block;
            margin-top: 1rem;
        }

        .calculator button {
            width: 50px;
            height: 50px;
            background-color: #363636;
            color: #FFFFFF;
            font-size: 18px;
            border: none;
            margin: 2px;
        }

        .calculator button.operator {
            background-color: #f8a016;
        }

        .calculator button.clear {
            background-color: #aaa9a9;
        }

        .calculator input {
            width: 204px;
            height: 40px;
            font-size: 18px;
            text-align: right;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="calculator">
        <input type="text" id="display" disabled />
        <br />
        <button onclick="addToDisplay('7')">7</button>
        <button onclick="addToDisplay('8')">8</button>
        <button onclick="addToDisplay('9')">9</button>
        <button onclick="addOperator('+')" class="operator">+</button>
        <br />
        <button onclick="addToDisplay('4')">4</button>
        <button onclick="addToDisplay('5')">5</button>
        <button onclick="addToDisplay('6')">6</button>
        <button onclick="addOperator('-')" class="operator">-</button>
        <br />
        <button onclick="addToDisplay('1')">1</button>
        <button onclick="addToDisplay('2')">2</button>
        <button onclick="addToDisplay('3')">3</button>
        <button onclick="addOperator('*')" class="operator">*</button>
        <br />
        <button onclick="addToDisplay('0')">0</button>
        <button onclick="addToDisplay('.')">.</button>
        <button onclick="calculate()">=</button>
        <button onclick="addOperator('/')" class="operator">÷</button>
        <br />
        <button onclick="clearDisplay()" class="clear">AC</button>
    </div>

    <script>
        function addToDisplay(value) {
            document.getElementById('display').value += value;
        }

        function addOperator(operator) {
            document.getElementById('display').value += operator;
        }

        function calculate() {
            try {
                var result = eval(document.getElementById('display').value);
                document.getElementById('display').value = result;
            } catch (error) {
                document.getElementById('display').value = 'Error';
            }
        }

        function clearDisplay() {
            document.getElementById('display').value = '';
        }
    </script>
</body>
</html>
